@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #000;
  --fg: #fff;
  --fg-sec: #afffe1;
  --primary: #6DC7A4;
  --secondary: #FF597F;
}

body {
  background-color: var(--bg);
  color: var(--fg);
}
